In [1]:
import numpy as np
import pandas as pd

In [17]:
import numpy as np
import pandas as pd
df=pd.DataFrame({
    'A':[21,np.nan,22,4,np.nan],
    'B':np.arange(31,36),
    'C':[np.nan,np.nan,np.nan,np.nan,np.nan],
    'D':[46,47,np.nan,48,49]
}
    
)
print(df)
print('\nTotal null value is:',df.isnull().sum().sum())
print('\nUsing Forward fill')
print(df.fillna(method='ffill'))
print('\nUsing Backward fill')
print(df.fillna(method='bfill'))
print('\nUsing 0')
print(df.fillna(0))

      A   B   C     D
0  21.0  31 NaN  46.0
1   NaN  32 NaN  47.0
2  22.0  33 NaN   NaN
3   4.0  34 NaN  48.0
4   NaN  35 NaN  49.0

Total null value is: 8

Using Forward fill
      A   B   C     D
0  21.0  31 NaN  46.0
1  21.0  32 NaN  47.0
2  22.0  33 NaN  47.0
3   4.0  34 NaN  48.0
4   4.0  35 NaN  49.0

Using Backward fill
      A   B   C     D
0  21.0  31 NaN  46.0
1  22.0  32 NaN  47.0
2  22.0  33 NaN  48.0
3   4.0  34 NaN  48.0
4   NaN  35 NaN  49.0

Using 0
      A   B    C     D
0  21.0  31  0.0  46.0
1   0.0  32  0.0  47.0
2  22.0  33  0.0   0.0
3   4.0  34  0.0  48.0
4   0.0  35  0.0  49.0

C:\Users\Asus\AppData\Local\Temp\ipykernel_19872\2125398166.py:14: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='ffill'))
C:\Users\Asus\AppData\Local\Temp\ipykernel_19872\2125398166.py:16: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='bfill'))

In [5]:
df.isnull().sum().sum()

8

In [7]:
df.fillna(method='ffill')

C:\Users\Asus\AppData\Local\Temp\ipykernel_19872\1193302488.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

      A   B   C     D
0  21.0  31 NaN  46.0
1  21.0  32 NaN  47.0
2  22.0  33 NaN  47.0
3   4.0  34 NaN  48.0
4   4.0  35 NaN  49.0

In [8]:
df.fillna(method='bfill')

C:\Users\Asus\AppData\Local\Temp\ipykernel_19872\2831856154.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill')

      A   B   C     D
0  21.0  31 NaN  46.0
1  22.0  32 NaN  47.0
2  22.0  33 NaN  48.0
3   4.0  34 NaN  48.0
4   NaN  35 NaN  49.0

In [9]:
df.fillna(0)

      A   B    C     D
0  21.0  31  0.0  46.0
1   0.0  32  0.0  47.0
2  22.0  33  0.0   0.0
3   4.0  34  0.0  48.0
4   0.0  35  0.0  49.0